<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta content="IE=edge" http-equiv="X-UA-Compatible">
  <meta content="width=device-width, initial-scale=1" name="viewport">
  <title>Chartist template</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/chartist.js/latest/chartist.min.css">
    <link href="css/bootstrap.min.css" rel="stylesheet">
    <script  src="https://cdn.jsdelivr.net/chartist.js/latest/chartist.min.js"></script>
    <script  src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
    <script src="https://momentjs.com/downloads/moment.js"></script>
  </script>

</head>
<body>
  <h1>Here is the data</h1>

<div class="row">
  <div class="col-md-8"><div class="ct-chart ct-golden-section" id="chart1"></div></div>
  <div class="col-md-4">4</div>
</div>

<div>
  <select class="mylist">
  <option value = "All">All</option>
</select>
</div>

  <script>
var uiLoaded = false;

function loadUI(data){
  console.log("loadUI");
    var sensors = [];
      for (var i = 0; i<data.length;i++) {
        sensors.push(data[i].name);
      }
      console.log(sensors);

var sList = $('select.sensorlist');
$.each(sensors, function(i) {
    console.log('for loop');
    var opt = $(' <option></option>')
        //.addClass('ui-menu-item')
        .attr('value',this)
        .text(this)
        .appendTo(sList);
});
sList.change(function() {
  console.log(this.text());
});
}




function loadGraph(filter){
  console.log('loadGraph');
  var url ="https://dougs-home.herokuapp.com/graph/timeseries";
  $.post(url,filter,function(data) {
    console.log('success', data) 
    if (!uiLoaded){
      loadUI(data.series);
    }
    console.log(Object.keys(data));
    console.log(Object.values(data));
    var options = {
      axisX: {
        type: Chartist.FixedScaleAxis,
        divisor: 5,
        labelInterpolationFnc: function(value) {
          return moment(value).format('MMM D');
        }
      }
    };
  new Chartist.Line('#chart1',data,options);
  });
}

loadGraph();
</script>

</body>
</html>