<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta content="IE=edge" http-equiv="X-UA-Compatible">
  <meta content="width=device-width, initial-scale=1" name="viewport">
  <title>Chartist template</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/chartist.js/latest/chartist.min.css">
    <script  src="https://cdn.jsdelivr.net/chartist.js/latest/chartist.min.js"></script>
    <script  src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
  </script>

</head>
<body>
  <h1>Here is the data</h1>
<div class="ct-chart ct-golden-section" id="chart1"></div>
  <script>
  $.ajax({
    url: "https://dougs-home.herokuapp.com/api/chartdata",
    method: "GET"}
    )
  .done(function(data) {
    console.log('success', data) 
    console.log(Object.keys(data));
    console.log(Object.values(data));
var data = {
           labels: Object.keys(data),
           series: [
             {
               data: Object.values(data)
             }
           ]
         };
var options = {seriesBarDistance: 10,
  axisX: {
    offset: 60
  },
  axisY: {
    offset: 80,
    labelInterpolationFnc: function(value) {
      return value
    },
    scaleMinSpace: 15
  }};
  new Chartist.Bar('#chart1',data,options);
  })
  .fail(function(xhr) {
    console.log('error', xhr);
  });

</script>
</body>
</html>