doctype
html
  head
    title my new document
    script(type='text/javascript')
      console.log('here is js')
  body
    header
      h1 My Site
      script(type='text/javascript')
      	console.log('here is js body')